html {
    border: 5px solid green;
}
body {
    border: 3px solid rgb(89, 250, 89);
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
* {
    margin: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
#box2 {
    position: absolute;
    left: 198px;
    height: 57px;
    top: 16px;
}
#box3 {
    position: absolute;
    left: 1000px;
    height: 100px;
    top: 5px;
}
.box {
    background-color: black;
    color: blanchedalmond;
    border: 5px solid red;
    border-radius: 15px;
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    font-size: larger;
   display: inline-block;
    margin: 20px;
}

form {
    display: block;
    margin-top: 0em;
}
.div4 {
    background-color: white;
    color: rgb(245, 55, 245);
    border: 4px dashed red;
    height: 650px;
    width: 400px;
    text-align: center;
    color: red;
    position: relative;
    left: 500px;
    top: -30px;
}
.circle {
    background-color: seagreen;
    border: solid 4px rgb(77, 76, 76);
    text-align: center;
    border-radius: 122px;
    width: 223px;
    height: 224px;
    box-sizing: border-box;
    margin-top: 249px;
    padding-top: 63px;
    margin-left: 26px;
    position: absolute;
    top: 50px;
}
#box4 {
    border: 8px solid red;
    background-color: black;
    height: 73px;
    width: 436px;
    border-radius: 35px;
    color: white;
    text-align: center;
    position: absolute;
    top: 760px;
    left: 35%;
    font-size: 40px;
    padding: 4px;
}
* {
    margin: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: disc;
}
.menu {
    background-color: lightskyblue;
    color: rgb(7, 7, 138);
    text-align: center;
    border: 2px solid rgb(7, 47, 11);
    border-radius: 15px;
    box-sizing: border-box;
    width: 350px;
    height: 202px;
    margin-top: 105px;
    margin: 60px;
}
* {
    margin: 0;
}
h2 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}


